body {
  font-family: Arial, sans-serif;
  background: #f8f8ff;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  background: #6C63FF;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  margin: 0;
}

select {
  padding: 8px 12px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

main {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.bgm{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(backgorund2.webp);
    background-position: center;
    background-size:cover;
}
.course-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.course-card h3 {
  margin-top: 0;
}

.course-card p {
  font-size: 14px;
  color: #555;
}
.watch-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #6C63FF;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background 0.2s;
}

.watch-btn:hover {
  background-color: #2f2f31;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
