* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bgm{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(backgorund2.webp);
    background-position: center;
    background-size:cover;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #111;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  /* background-color:#6C63FF; */
  background: transparent;
  backdrop-filter: blur(20px);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.logo img {
  width: 40px;
  margin-right: 10px;
}
.nav-links a {
  margin-left: 25px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
}

.nav-links a:hover {
  color: #2e2a82;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  position: relative;
}

.hero-text {
  flex: 1;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 48px;
  color: white;
  margin-bottom: 20px;
}

.hero-text h1 span {
  font-weight: 800;
}

.hero-text p {
  font-size: 16px;
  color:white;
  line-height: 1.6;
  margin-bottom: 30px;
}

.btn {
  padding: 14px 24px;
  background-color: #6C63FF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #2f2f31;
  cursor: pointer;
}

.hero-image {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 500px;
  z-index: 2;
}

.bg-shape {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;

}
.exciting-image {
  text-align: center;
  padding: 2rem;
}

